@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --main-element-color: #CF6BDD;
    --main-bg-color: #101820;
    --logo-color: #EEDAEA;
    --accent-color: #C53562;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* NAVBAR STYLES */
.navbar {
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 25px 0;
    transition: all 0.2s ease;
}

.sticky {
    background: var(--main-element-color);
    padding: 15px 0;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: var(--logo-color);
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: var(--logo-color);
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    transition: all 0.15s ease;
}

.sticky .menu li a {
    color: var(--main-bg-color);
}

.navbar .menu li a:hover {
    color: var(--accent-color);
}

/* BTN SYLES */
.nav-btn {
    color: var(--logo-color);
    font-size: 20px;
    cursor: pointer;
    display: none;
}


/* HOME STYLES */
.home {
    display: flex;
    background: url('/images/background_placeholder.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: var(--logo-color);
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-greeting1{
    font-size: 27px;
}

.home .home-content .text-greeting2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-greeting3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-greeting3 span {
    color: var(--accent-color);
    font-weight: 500;
}





/* RESPONSIVE VERSION STYLES */
@media (max-width: 1104px) {
    .home .max-width {
        margin-left: 0;
    }
}

@media (max-width: 990px) {
    .home .max-width {
        padding: 0 50px;
    }
}



@media (max-width: 900px) {
    .max-width {
        padding: 0 50px;
    }

    .nav-btn {
        display: block;
        z-index: 900;
    }

    .nav-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        background: var(--main-element-color);
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.2s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 20px;
    }

    .home .home-content .text-greeting2{
        font-size: 70px;
    }
    
    .home .home-content .text-greeting3{
        font-size: 30px;
    }
}

@media (max-width: 650px) {
    /* .home .max-width {
        padding: 0 25px;
    } */

    .home .home-content .text-greeting2{
        font-size: 55px;
    }
    
    .home .home-content .text-greeting3{
        font-size: 25px;
    }
}